{% extends "base.html" %}

{% block content %}

{% for book in all_books %}
    <div class="book">
        <h3>{{book.title}}</h3>
        <hr>
        <p>Author: {{book.author.last_name}}, {{book.author.first_name}}</p>
        <p>Genre: {{book.publisher}}</p>
        <p>Publisher: {{book.genre}}</p>


    <a href="/books/{{book.id}}">{{book.title}}</a>

    <form action="/books/{{book.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    </div>

{% endfor %}

{% endblock %}